# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
.idea
LiveAttendCall-frontend/node_modules
LiveAttendCall-backend/bin
LiveAttendCall-backend/build
